<style>
.error_style{
    color: red;
    font-size: 20px;
}
body{
    background: url("https://img.freepik.com/free-photo/light-brown-wooden-textured-background_53876-75016.jpg?size=626&ext=jpg");  
}
.new_user_body{
    border: 1px solid pink;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.45);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
   
}
h1{
    text-shadow: 1px 1px white;
    margin-top: 2em;
    text-align: center;
    font-size: 38px;
}
.button{
    font-size: 16px;
    border-radius: 25px;
    height: 3em;
    width: 10em;
}
</style>
<% if( @error_messages != nil ) %>
    <ul>
        <% @error_messages.each do |error| %>
        <li class="error_style"><%= error %></li>
    <% end %>
    </ul>
<% end %>
<h1>Please Sign Up to Create Recipes!</h1>
<%= form_with(model: @user) do |form| %>
<br><br>
<div class="new_user_body">
<label> Enter Your Name: </label>
    <%= form.text_field(:name) %>
        <br><br>
<label> Enter a User Name:  </label>
    <%= form.text_field(:user_name) %>
        <br><br>
<label> Enter a Password: </label>
    <%= form.password_field(:password) %>
        <br><br>
<label> Image URL for your profile picture </label>
    <%=form.text_field(:img_url)%>
        <br><br>
<%= form.submit "Create New User", :class => "button"%>

<% end %>
</div>
